body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    padding: 0;
    margin: 20px;
}

h1 {
    font-size: 24px;
}

.logo {
    color: #000;
    font-size: 13px;
}

ul {
    margin-top: -10px;
    margin-left: -40px;
    margin-bottom: -15px;
}

.menu, li {
    list-style-type: none;
    line-height: 200%;
    color: #69696a;
    font-size: 13px;
}

button {
    width:100%;
    border-radius: 100px;
    border: none;
    background-color: #000;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 20px;
}

.scrollDown {
    margin-bottom: 26px;
    margin-top: 22px;
}

.paragraph {
    font-size: 12px;
    color: #69696a;
    margin: auto;
    border-left: 3px solid;
    border-color: #69696a;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-left: 12px;
    padding-right: 20px;
}

a:link {
    color: #69696a;
    text-decoration: none;
}

a:hover {
    color: blue;
}

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    button {
        width:100%;
        border-radius: 100px;
        margin-top: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    ul {
        display: flex;
        margin-right: 20px;
        align-items: center;
    }

    li {
        white-space: nowrap;
        padding: 10px;
    }

    .overview {
        margin-top: 110px;
    }

    .paragraph {
        margin-left: 0;
        max-width: 50%;
    }

    .largeDot {
        height: 150px;
        width: 150px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        position: absolute;
        top: 150px; right: 100px;
        opacity: 75%;
    }

    .mediumDot {
        height: 140px;
        width: 140px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        position: absolute;
        top: 230px; right: 20px;
        opacity: 75%;
    }

    .smallDot {
        height: 111px;
        width: 111px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        position: absolute;
        top: 150px; right: 20px;
        opacity: 75%;
    }

    .scrollButton {
        position: absolute;
        bottom: 20px; left: 45%; right: 45%;
        max-width: 112px;
        min-width: 112px;
    }
}